In [1]:
from dotenv import load_dotenv
import os

load_dotenv()

True

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
from datetime import datetime
import pandas as pd
from src.bluebikes_data_utils import load_and_process_bluebikes_data

from_year = 2025
# to_year = datetime.now().year
to_year = 2025
print(f"Download raw data from {from_year} to {to_year}")

rides = pd.DataFrame()
chunks = []
for year in range(from_year, to_year+1):

    rides_one_year = load_and_process_bluebikes_data(year)

    chunks.append(rides_one_year)
    break

# Concatenate all chunks at the end
rides = pd.concat(chunks, ignore_index=True)
print("Data loading complete.")

Download raw data from 2025 to 2025
File already exists for 2025-01.
Loading data for 2025-01...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 161,926
Valid records: 161,894
Records dropped: 32 (0.02%)
Successfully processed data for 2025-01.
File already exists for 2025-02.
Loading data for 2025-02...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 165,742
Valid records: 165,724
Records dropped: 18 (0.01%)
Successfully processed data for 2025-02.
File already exists for 2025-03.
Loading data for 2025-03...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 271,605
Valid records: 271,578
Records dropped: 27 (0.01%)
Successfully processed data for 2025-03.
File already exists for 2025-04.
Loading data for 2025-04...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 373,257
Valid records: 373,248
Records dropped: 9 (0.00%)
Successfully processed data for 2025-04.
File already exists for 2025-05.
Loading data for 2025-05...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 429,077
Valid records: 429,042
Records dropped: 35 (0.01%)
Successfully processed data for 2025-05.
File already exists for 2025-06.
Loading data for 2025-06...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 487,146
Valid records: 487,098
Records dropped: 48 (0.01%)
Successfully processed data for 2025-06.
File already exists for 2025-07.
Loading data for 2025-07...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 538,372
Valid records: 538,303
Records dropped: 69 (0.01%)
Successfully processed data for 2025-07.
File already exists for 2025-08.
Loading data for 2025-08...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 547,835
Valid records: 547,820
Records dropped: 15 (0.00%)
Successfully processed data for 2025-08.
File already exists for 2025-09.
Loading data for 2025-09...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 585,931
Valid records: 585,844
Records dropped: 87 (0.01%)
Successfully processed data for 2025-09.
Downloading data for 2025-10...
Attempting to download from: https://s3.amazonaws.com/hubway-data/202510-bluebikes-tripdata.csv
Attempting to download from: https://s3.amazonaws.com/hubway-data/202510-bluebikes-tripdata.zip
Successfully downloaded and converted to parquet: /Users/narendravarma/Documents/blue_bikes/data/raw/rides_2025_10.parquet
Successfully downloaded data for 2025-10.
Loading data for 2025-10...
Using columns: start_time=start_lat, station_id=start_station_id
  Coordinates: lat=start_lat, lon=start_lng
Total records: 513,531
Valid records: 513,276
Records dropped: 255 (0.05%)
Successfully processed data for 2025-10.
Downloading data for 2025-11...
Attempting to download from: https://s3.amazonaws.com/hubway-data/202511-bluebikes-tripdata.csv
Attempting to download from: https://s3.amazonaws.com/hubway-data/202511-bluebikes-tripdata.zip
Error processing data for 2025-11: Could not download Blue Bikes data for 2025-11
Downloading data for 2025-12...
Attempting to download from: https://s3.amazonaws.com/hubway-data/202512-bluebikes-tripdata.csv
Attempting to download from: https://s3.amazonaws.com/hubway-data/202512-bluebikes-tripdata.zip
Error processing data for 2025-12: Could not download Blue Bikes data for 2025-12
Combining all monthly data...
Data loading and processing complete!
Data loading complete.

In [4]:
rides

                pickup_datetime pickup_location_id  start_lat  start_lng
0       2025-01-03 20:24:01.599             D32000  42.361257 -71.065287
1       2025-01-04 18:35:13.116             D32000  42.361257 -71.065287
2       2025-01-16 07:03:47.639             M32046  42.395588 -71.142606
3       2025-01-13 08:38:00.822             B32037  42.349290 -71.097385
4       2025-01-14 20:23:16.339             C32053  42.343049 -71.058034
...                         ...                ...        ...        ...
4073822 2025-10-05 18:25:02.008             M32089  42.363539 -71.111698
4073823 2025-10-05 09:01:54.168             E32016  42.351911 -71.123798
4073824 2025-10-08 06:14:25.847             S32006  42.396969 -71.123024
4073825 2025-10-18 11:07:25.038             S32006  42.396969 -71.123024
4073826 2025-10-26 20:27:41.030             E32016  42.351911 -71.123798

[4073827 rows x 4 columns]

In [5]:
from src.bluebikes_data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)

/Users/narendravarma/Documents/blue_bikes/src/bluebikes_data_utils.py:386: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('H')

In [6]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4355712 entries, 0 to 4355711
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_hour         datetime64[ns]
 1   pickup_location_id  object
 2   rides               int64
 3   hour_of_day         int32
 4   day_of_week         int32
 5   is_weekend          int64
 6   month               int32
 7   is_holiday          int64
dtypes: datetime64[ns](1), int32(3), int64(3), object(1)
memory usage: 216.0+ MB

In [7]:
ts_data.head()

,pickup_hour,pickup_location_id,rides,hour_of_day,day_of_week,is_weekend,month,is_holiday
0,2025-01-01 00:00:00,A32000,2,0,2,0,1,1
1,2025-01-01 01:00:00,A32000,0,1,2,0,1,1
2,2025-01-01 02:00:00,A32000,0,2,2,0,1,1
3,2025-01-01 03:00:00,A32000,0,3,2,0,1,1
4,2025-01-01 04:00:00,A32000,0,4,2,0,1,1

In [8]:
import hopsworks

api_key = os.getenv('HOPSWORKS_API_KEY')  
project_name = os.getenv('HOPSWORKS_PROJECT_NAME')  

# pip install confluent-kafka
# Initialize connection to Hopsworks  
project = hopsworks.login(  
    api_key_value=api_key,  
    project=project_name  
)  
print(f"Successfully connected to Hopsworks project: {project_name}")

ModuleNotFoundError: No module named 'hopsworks'